<nav class="navbar navbar-expand-lg" style="background-color: #222;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 small text-muted">
                    <h6 class="mt-0 mb-1">About</h6>
                    <p> This is a prototype of the DaVinci portal. Please be patient while we build out the full capability and
                        thank you for being part of the future! </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs12 small text-muted">
                    <h6>Subscribe Email</h6>
                    <div class="subscribe-form">
                        <form action="javascript:void(0)">
                            <div class="input-group">
                                <input type="text" placeholder="mail@email.com" class="form-control">
                                <span class="input-group-btn">
                                        <button class="btn" type="submit">Submit</button>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 small text-muted">
                    <h6>Follow Us On</h6>
                    <ul class="social-icons">
                        <li>
                            <i class="fa fa-twitter-square" aria-hidden="true"></i><a href="https://www.twitter.com/clarkesweb"
                                data-original-title="twitter" class="twitter"></a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i><a href="https://www.linkedin.com/in/clarkesweb"
                                data-original-title="linkedin" class="linkedin"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 small text-muted">
                    <h6>Contacts</h6>
                    <address class="margin-bottom-40"> Phone: +1 678 799 0327
                        <br> Email:
                        <a href="mailto:info@clarkesweb.com">info@clarkesweb.com</a>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 small text-muted">
                    <h6>2017 &copy; EliLilly</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 small text-muted scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>

    </div>
    <!--
    <div>
        <div class="small text-muted"> 2017 &copy; Clarkesweb by John Clarke.
            <a href="http://www.clarkesweb.com" title="ClarkesWeb" target="_blank">ClarkesWeb!</a>
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    -->
</nav>