

<ul>
    <li class="dropdown-nav">
    <a href="javascript:void(0)" class="dropbtn">Dashboard</a>
    <div class="dropdown-content">
      <a href="#">Create Dashboard</a>
      <a [routerLink]="['/dashboard']">Default Dashboard</a>
      <a href="#">Dashboard 2</a>
      <a href="#">3PL Study</a>
    </div>
  </li>
    <li class="dropdown-nav">
    <a href="javascript:void(0)" class="dropbtn">The Knowledge</a>
    <div class="dropdown-content">
      <a href="#">Add Asset</a>
      <a href="#">Search Query</a>
    </div>
  </li>
  <li class="dropdown-nav">
    <a href="javascript:void(0)" class="dropbtn">DaVinci Apps</a>
    <div class="dropdown-content">
      <a href="#">Blog Page Listing</a>
      <a href="#">Blog Page Post</a>
      <a href="#">Blog Post</a>
      <a href="#">FAQ</a>
      <a [routerLink]="['/suggestion']">Suggestions</a>
      <a href="#">Contact Us</a>
    </div>
  </li>
    <li class="dropdown-nav">
    <a href="javascript:void(0)" class="dropbtn">My DaVinci</a>
    <div class="dropdown-content">
      <a href="#">Org Charts</a>
      <a href="#">Process Flow</a>
    </div>
  </li>
    <li class="dropdown-nav">
    <a href="javascript:void(0)" class="dropbtn">Dates!</a>
    <div class="dropdown-content">
      <a href="#">Create Countdown</a>
      <a href="#">Vacation</a>
    </div>
  </li>
    <input type="text" name="search" placeholder="Search.." align="right">
</ul>
