<div class="row">
    <div class="col-sm-3 left-sidebar">
        <div class="row left-side-header"></div>
        <p>Drag and drop KPIs or charts to desire location</p>
        <div class="row">
            <div class="col-sm-12 kpi-container">
                <p class="kpi-title">KPIs</p>
                <ul [dragula]='"kpibag"' data-type="drag" class="kpis-list">
                    <li data-id="IDKPIBAG1" data-imgurl='assets/images/area-graph.png' class="drag-item-name">KPI name goes here</li>
                    <li data-id="IDKPIBAG2" data-imgurl='assets/images/area-graph.png' class="drag-item-name">KPI name goes here</li>
                    <li data-id="IDKPIBAG3" data-imgurl='assets/images/area-graph.png' class="drag-item-name">KPI name goes here</li>
                    <li data-id="IDKPIBAG4" data-imgurl='assets/images/area-graph.png' class="drag-item-name">KPI name goes here</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 chart-container">
                <p class="chart-title">List of Charts</p>
                <ul [dragula]='"chartbag"' class="chart-list">
                    <li data-id="Chart1" data-type="drag" class="drag-item-name" data-imgurl='assets/images/slider1.jpg'>Chart name goes here</li>
                    <li data-id="Chart2" data-type="drag" class="drag-item-name" data-imgurl='assets/images/slider2.jpg'>Chart name goes here</li>
                    <li data-id="Chart3" data-type="drag" class="drag-item-name" data-imgurl='assets/images/slider3.jpg'>Chart name goes here</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row layout-header">
            <div class="col-sm-9">
                <input type="text" class="form-control" style="width:250px;" placeholder="Dashboard Name">
            </div>
            <div class="col-sm-3 text-right">
                <button class="btn btn-md btn-save">Save</button>
            </div>
        </div>
        <div class="row layout-description">
            <div class="col-sm-12">
                <textarea class="form-control" rows="3">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </textarea>
            </div>
        </div>
        <div class="right-container" [dragula]='"boxes"' *ngFor="let item of layoutStyle">
            <div *ngIf="item === 4; then column4"></div>
            <div *ngIf="item === 2; then column2"></div>
            <div *ngIf="item === 1; then column1"></div>
            <div *ngIf="item === 5; then column5"></div>
        </div>
    </div>
</div>

<ng-template #column4>
    <div class="row box">
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi1" data-type="drop" [dragula]='"kpibag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi2" data-type="drop" [dragula]='"kpibag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi3" data-type="drop" [dragula]='"kpibag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi4" data-type="drop" [dragula]='"kpibag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #column2>
    <div class="row drop-box">
        <div class="col-sm-6">
            <div class="inner-drop-box-2" id="charbox1" data-type="drop" [dragula]='"chartbag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
        <div class="col-sm-6 drop-box">
            <div class="inner-drop-box-2" id="chartbox2" data-type="drop" [dragula]='"chartbag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #column1>
    <div class="row">
        <div class="col-sm-12 drop-box">
            <div class="inner-drop-box-1" id="chartbox3" data-type="drop" [dragula]='"chartbag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #column5>
    <div class="row">
        <div class="col-sm-12 drop-box">
            <div class="inner-drop-box-1" id="chartbox3" data-type="drop" [dragula]='"chartbag"'>
                <span class="add-content image-container">ADD</span>
                <span class="remove-image" (click)="removeImage($event)">X</span>
            </div>
        </div>
    </div>
</ng-template>
