<div class="row">
    <div class="col-sm-3 left-sidebar">
        <div class="row left-side-header"></div>
        <p>Drag and drop KPIs or charts to desire location</p>
        <div class="row">
            <div class="col-sm-12 kpi-container">
                <p class="kpi-title">KPIs</p>
                <ul [dragula]='"kpibag"' class="kpis-list">
                    <li data-id="IDKPIBAG1">KPI name goes here</li>
                    <li data-id="IDKPIBAG2">KPI name goes here</li>
                    <li data-id="IDKPIBAG3">KPI name goes here</li>
                    <li data-id="IDKPIBAG4">KPI name goes here</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 chart-container">
                <p class="chart-title">List of Charts</p>
                <ul [dragula]='"chartbag"' class="chart-list">
                    <li data-id="Chart1" data-imgurl='assets/images/slider1.jpg'>Chart name goes here</li>
                    <li data-id="Chart2" data-imgurl='assets/images/slider2.jpg'>Chart name goes here</li>
                    <li data-id="Chart3" data-imgurl='assets/images/slider3.jpg'>Chart name goes here</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row right-side-header">
            <input type="text" class="dashboard-title" placeholder="Dashboard Name">
            <span class="update-tite">Update</span>
            <input type="text" class="dashboard-title" placeholder="Description">
        </div>
        <div class="right-container" [dragula]='"boxes"' *ngFor="let item of layoutStyle">
            <div *ngIf="item === 4; then column4"></div>
            <div *ngIf="item === 2; then column2"></div>
            <div *ngIf="item === 1; then column1"></div>
            <div *ngIf="item === 5; then column5"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 btn-container">
                <button type="button" class="btn btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<ng-template #column4>
    <div class="row box">
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi1" [dragula]='"kpibag"'>
                <span class="add-content">ADD</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi2" [dragula]='"kpibag"'>
                <span class="add-content">ADD</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi3" [dragula]='"kpibag"'>
                <span class="add-content">ADD</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 drop-box">
            <div class="inner-drop-box-4" id="firstkpi4" [dragula]='"kpibag"'>
                <span>
                    <span class="add-content">ADD</span>
                </span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #column2>
    <div class="row drop-box">
        <div class="col-sm-6">
            <div class="inner-drop-box-2" id="charbox1" [dragula]='"chartbag"'>
                <span class="add-content">ADD</span>
            </div>
        </div>
        <div class="col-sm-6 drop-box">
            <div class="inner-drop-box-2" id="chartbox2" [dragula]='"chartbag"'>
                <span class="add-content">ADD</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #column1>
    <div class="row">
        <div class="col-sm-12 drop-box">
            <div class="inner-drop-box-1" id="chartbox3" [dragula]='"chartbag"'>
                <span class="add-content">ADD</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #column5>
        <div class="row">
            <div class="col-sm-12 drop-box">
                <div class="inner-drop-box-1" id="chartbox4" [dragula]='"chartbag"'>
                    <span class="add-content">ADD</span>
                </div>
            </div>
        </div>
</ng-template>
