.medium-box{
    height: 200px;
    border: 1px solid gray;
}

.medium-box-first{
    margin-right: 30px;
}

.large-box{
    height: 200px;
    border: 1px solid gray;
}

.empty-box{
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
    color: gray;
}
.left-sidebar{
    background-color: #EFEFEF;
    .kpi-container, .chart-container{
        .kpi-title, .chart-title{
          font-weight: bold;
          font-size: 20px;
          color: #555;
          background-color: #fff;
          padding: 5px 0 5px 10px;
          margin-bottom: 5px;
          border-top: 1px solid gray;
        }
        .kpis-list, .chart-list
         {
          padding: 0;
          background-color: #fff;
          max-height: 200px;
          overflow: auto;
            li{
            list-style: none;
            padding: 0;
            text-align: left;
            color: #555;
            margin: 0px 0;
            padding: 5px 0 5px 10px;
        }
    }
    }
}
.right-container{
    width: 90%;
    margin: 0 auto;
    .drop-box{
        .inner-drop-box-4{
            position: relative;
            margin: 10px 0;
               height: 80px;
               border:1px solid gray;
           }
           .inner-drop-box-2{
            position: relative;
            margin: 10px 0;
            height: 400px;
            border:1px solid gray;
        }
        .inner-drop-box-1{
            position: relative;
            margin: 10px 0;
            height: 250px;
            border:1px solid gray;
        }
        .remove-image{
            position: absolute;
            top: 0;
            right: 0;
            /* padding: 6px; */
            background-color: gray;
            border-radius: 50%;
            width: 22px;
            height: 23px;
            font-size: 13px;
            line-height: 23px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            margin-top: 2px;
            margin-right: 2px;
            cursor: pointer;
            display: none;
       }
       .image-droped + .remove-image{
           display: block !important;
       }
    }

.add-content{
    position: absolute;
    top: 33%;
    display: inline-block;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    color: #b3b0b0;
    font-size: 20px;
    font-weight: bold;
}
}
.right-side-header,.left-side-header{
    height: 70px;
}
.right-side-header{
    .update-tite{
        line-height: 67px;
        color: #23A3F8;
        cursor: pointer;
        margin-left: 16px;
    }
    .dashboard-title{
        width: 100px;
    }
}
.left-side-header{
  background-color:#9A9A9A;

}

.thumbnail {
    position: relative;
    width:100%;
    height:100%;
}

.thumbnail img {
    width:100%;
    height:100%;
}

#close {
    display: block;
    position: absolute;
    width:23px;
    height:30px;
    top: 2px;
    right: 2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 16pt;
    }

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-save {
    color: white;
    width: 150px;
    font-weight: bolder;
    background: gray;
}

.layout-description {
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.layout-header {
    padding-left: 50px;
    padding-right: 50px;
}
