<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="p-0 mb-1 bg-white"  >
            <span class="text-dark">Production Work Flow</span>
            <p><small class="text-dark"> Production per year</small>
        </div>
        <div><div id="vizContainer"></div></div>          
    </div>   
     <div class="col-md-6 col-sm-6">
        <div class="p-0 mb-1 bg-white">
            <span class="text-dark">Line Production Flow</span>
            <p><small class="text-dark"> Production per year</small>
        </div>
         <div  class="p-0 mb-1 bg-white" id="chartdiv" [style.width.%]="100" [style.height.px]="350"></div>           
    </div>     
    
    
</div>
<hr />

    
